# Environment secrets
.env

# Python caching
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
